*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    background-color: black;
    color:white;
    text-align: center;
    padding: 20px;
    font-family: Asap;
}

.choices .choice img{
    width:100px;
    height:100px;
}